/* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

.fadein {
  position: relative;
  animation: animatebottom 0.3s;
}

@keyframes animatebottom {
  from {
    bottom: -800px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.faderightside {
  position: relative;
  animation: animaterightside 0.3s;
}

@keyframes animaterightside {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.morph {
  box-shadow: 32px 32px 64px #059bb4, -32px -32px 64px #07d1f4;
}

.morphIcon {
  border-radius: 10px;
  background: #e2e8f0;
  box-shadow: 5px 5px 10px #c5cad1, -5px -5px 10px #ffffff;
  height: 80px;
  width: 80px;
}

.morphSearch {
  background: #0891b2;
  box-shadow: inset 20px -20px 60px #0787a6, inset -20px 20px 60px #099bbe;
}

.searchTextColor::placeholder {
  color: #cbd5e1;
}

.textButton {
  background: #e2e8f0;
  box-shadow: 5px 5px 10px #c5cad1, -5px -5px 10px #ffffff;
}

.chatListMorph {
  background: #e2e8f0;
  box-shadow: 5px 5px 10px #c5cad1, -5px -5px 10px #ffffff;
}
